:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --akcent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-white-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --rgba-transparent-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

p {
  color: var(--primary-text-color);
  font-weight: 400l;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

/* logo */
.logo {
  color: var(--akcent-color);
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--tittle-text-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

/* site-nav */
.site-nav .link {
  color: var(--tittle-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}

.site-nav .link.current {
  color: var(--akcent-color);
}

.site-contact .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--akcent-color);
}

/* hero */
.hero {
  background: var(--background-dark-color);
  padding: 200px 0;
}

.hero-tittle {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* futures */
.feature-list {
  list-style: none;
  padding: 0;
  margin: 94px 0;
}

.feature-list .tittle {
  color: var(--tittle-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* section */
.section-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-team {
  background: var(--background-white-color);
}

.team-list .tittle {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.image {
  background: var(--background-white-color);
}

/* batton */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--akcent-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.click {
  background: var(--background-white-color);
  color: var(--tittle-text-color);
}

.click:hover,
.click:focus {
  color: var(--primary-white-color);
  background-color: var(--akcent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

/* hero portfolio */
.section-tittle .caption {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-tittle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.picture {
  text-decoration: none;
}

.section-tittle .rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background: var(--background-dark-color);
}

.footer .tittle {
  color: var(--primary-white-color);
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list {
  list-style: none;
}

.address-list .link {
  color: var(--rgba-transparent-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
